

@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex justify-content-center align-items-center">
    @Html.ActionLink("Verifica Spedizione", "Track", "Spedizioni", new { area = "" }, new { @class = "nav-link" })

</main>